@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-family:"微软雅黑";
}
body{
	background:#f5f5f5;
}
.Jcart-Box{
	width:1226px;
	height:374px;
	background:#FFF;
	margin:50px auto;
}
.cart-goods-list{
	width:1226px;
	height:304px;
}
.cart-goods-list .list-head{
	width:1226px;
	height:70px;
	line-height:70px;
	color:#424242;
	background:#fff;
}

/*列表头部css样式*/
.cart-goods-list .list-head .col{
	float:left;
}
/*全选部分*/
.cart-goods-list .col-check{
	width:110px;
/*	background:#6C6;*/
}
.cart-goods-list .col-check .icon-checkbox{
	display:inline-block;
	width:18px;
	height:18px;
	line-height:18px;
	border:1px solid #e0e0e0;
	margin-left:24px;
	background:#fff;
	color:#333;
	font-size:20px;
	text-align:center;
	vertical-align:middle;
	position:relative;
	top:-1px;
	cursor:pointer;
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.cart-goods-list .icon-checkbox{
	margin-right:15px;
}
/*图片部分*/
.cart-goods-list .col-img{
	width:120px;
}
/*商品名称部分*/
.cart-goods-list .col-name{
	width:380px;
}
/*商品单价部分*/
.cart-goods-list .col-price{
	width:75px;
	text-align:right;
	padding-right:84px;
/*	background:#666;*/
}
/*商品数量部分*/
.cart-goods-list .col-num{
	width:150px;
	text-align:center;
/*	background:#960;*/
}
/*商品小计部分*/
.cart-goods-list .col-total{
	width:120px;
	text-align:right;
	padding-right:81px;
/*	background:#0F0;*/
}
/*商品操作部分*/
.cart-goods-list .col-action{
	width:106px;
	text-align:center;
/*	background:#936;*/
}

/*列表身体部分*/
.cart-goods-list .list-body{
	width:1226px;
	height:234px;
/*	background:#900;*/

}
.cart-goods-list .item-box{
	width:1226px;
	height:117px;
/*	background:#F66;*/
	border-top:1px solid #e0e0e0;
}
/*一条商品记录的样式*/
.item-table{
	width:1226px;
	height:86px;
	margin-top:15px;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
}
.cart-goods-list .item-table .item-row{
	width:1226px;
	height:117px;
	display:table-row;
/*	background:#09C;*/
	border-collapse:collapse;
}
.cart-goods-list .item-table .col{
	display:table-cell;
	vertical-align:middle;
	float:left;
}
.col-name .name{
	line-height:1px;
	margin-top:38px;
	font-size:17px;
	font-weight:normal;
}
.col-name .name a{
	color:#424242;
	font-size:17px;
	text-decoration:none;
}
.col-img img:hover{
	transform:translateY(-1px);
	/*box-shadow:0 0 2px #ccc;
	-moz-box-shadow:0 0 2px #ccc;
	-ms-box-shadow:0 0 2px #ccc;
	-o-box-shadow:0 0 2px #ccc;
	-webkit-box-shadow:0 0 2px #ccc;*/
}
.col-name .name a:hover{
	color:#f03;
}
.col-action a{
	font-size:16px;
	text-decoration:none;
	color:#424242;
}
.cart-goods-list .item-row .col-check{
	margin-top:30px;
	color:#424242;
}
.cart-goods-list .item-row .col-price{
	margin-top:30px;
	text-align:center;
	color:#424242;
}
.cart-goods-list .item-row .col-num{
	margin-top:30px;
	color:#424242;
}
.cart-goods-list .item-row .col-total{
	margin-top:30px;
	color:#F03;
}
.cart-goods-list .item-row .col-action{
	margin-top:30px;
	color:#424242;
}
/*raise-tobuy*/
.raise-tobuy{
	width:1226px;
	height:20px;
	background:#f5f5f5;
}

/*下方的结算部分*/
.cart-bar{
	width:1226px;
	height:50px;
	display:block;
	box-shadow:0 0 1px #ccc;
	-moz-box-shadow:0 0 1px #ccc;
	-ms-box-shadow:0 0 1px #ccc;
	-o-box-shadow:0 0 1px #ccc;
	-webkit-box-shadow:0 0 1px #ccc;
}
.cart-bar .select-left{
	display:block;
	width:283px;
	height:50px;
	float:left;
/*	background:#0C3;*/
	line-height:50px;
	margin-left:30px;
}
/*继续购物的a标签*/
.cart-bar a{
	font-size:17px;
	color:#757575;
	text-decoration:none;
}
.cart-bar a:hover{
	font-size:17px;
	color:#F03;
	text-decoration:none;
}
.cart-bar .total-price{
	font-size:17px;
	color:#424242;
/*	background:#0C3;*/
	line-height:50px;
	padding-left:300px;
}
.total-price span{
	font-size:20px;
	color:#f03;
	font-weight:normal;
	padding-left:30px;
}
.cart-bar .to-pay{
	float:right;
	background:#f03;
}
.to-pay a{
	display:block;
	width:202px;
	height:50px;
	color:#fff;
	font-size:17px;
	text-decoration:none;
	line-height:50px;
	text-align:center;
}
